/* =============================================================================== */
/*                                   GENERALITES                                   */
/* =============================================================================== */

/* Couleurs */
$color-primary: #9356DC ;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0; 
$color-shadow: #E9E9E9;

/* Tailles */
$box-shadow-size: 5px;

/* Mixins */
@mixin box-shadow ($shadow-size: $box-shadow-size, $color: $color-shadow) {
    box-shadow: $box-shadow-size $box-shadow-size $box-shadow-size $color;
}

/* =============================================================================== */
/*                                    SPECIFIQUE                                   */
/* =============================================================================== */

/* CORPS DE PAGE */

/* Emplacement du restaurant recherché */
.restaurant-location {
    background-color: #EAEAEA;
    box-shadow: 0px 3px 3px #D5D5D5 inset;
    text-align: center;
    padding: 15px 0px;
    &__container {
        text-align: center;
    }
    &__icon {
        padding-right: 10px;
    }
    &__input {
        width: 125px;
        border: none;
        background-color: #EAEAEA;
        font-weight: 700;
        font-size: 0.9rem;
        &::placeholder {
            color: #000000;
            opacity: 1;
        }
    }
}


/* CONTENU PRINCIPAL DE LA PAGE */
.main-content {
    width: 100vw;
    /* margin: auto;*/
    &__heading {
        padding-top: 50px;
    }
}


/* PRESENTATION DE L'ENTREPRISE */

/* Exploration des restaurants */
.explore-restaurants {
    background-color: #F6F6F6;
    text-align: center;
    padding-bottom: 55px;
    &__heading {
        padding-left: 60px;
        padding-right: 60px;
    }
    &__byline {
        padding: 10px 20px 30px 20px;
        font-weight: 300;
    }
    &__button {
        width: 215px;
        height: 50px;
        border: none;
        border-radius: 45px;
        padding: 10px;
        color: #FFFFFF;
        background-color: #DD6EDB;
        font-weight: 600;
        font-size: 0.9rem;
    }
}

/* Fonctionnement du site */
.site-operation {
    margin-bottom: 70px;
    &__heading {
        padding-left: 5%;
    }
    &__list {
        list-style-type: none;
    }
    &__list-item {
        position: relative;
        background-color: #F6F6F6;
        border-radius: 15px;
        @include box-shadow;
        padding: 28px 20px;
        width: 90%;
        height: 75px;
        margin: 7% 0% 0% 5%;
        font-size: 0.9rem;
        font-weight: 500;
        &--active {
            background-color:  #F5EDFF;
        }
        &__number {
            position: absolute;
            left: -2.5%;
            color: #FFFFFF;
            border: 1px solid #9356DC;
            border-radius: 15px;
            padding: 0px 5px;
            background-color: #9356DC;
            font-size: 0.9rem;
        }
        &__icon {
            padding: 0px 15px;
            font-size: 1rem;
            font-weight: 400;
            &.fas.fa-mobile-alt, &.fas.fa-list-ul {
                color: #7E7E7E;
                font-size: 1.1rem;
            }
        }
        &__text {
            position: absolute;
            left: 70px;
            font-size: 1rem;
        }
    }
}

/* RESTAURANTS SUGGERES */
.restaurant-preview {
    /* border: 1px solid green; */
    position: relative;
    width: 90%;
    margin: 5% 5% 0% 5%;
    border-radius: 15px;
    @include box-shadow;
    &__image {
        border-radius: 15px 15px 0px 0px;
        width: 100%;
        height: 175px;
        object-fit: cover;
        object-position: 50% 100%;
        &--portrait{
            object-position: 50% 62%;
        }
    }
    &__new {
        position: absolute;
        top: 15px;
        right: 10px;
        height: 30px;
        width: 21vw;
        background-color: #99E2D0;
        border-radius: 2.5px;
        color: #179576;
        text-align: center;
        padding-top: 6px;
        font-size: 0.9rem;
        font-weight: 500;
    }
    &__description {
        /* border: 2px solid red; */
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 20px 10px 10px;
    }
    &__heading {
        font-size: 1.1rem;
        font-weight: 500;
        padding-bottom: 3px; 
    }
    &__byline {
        font-size: 1.05rem;
        font-weight: 300;
    }
    &__favorite {
        font-size: 1.5rem;
        font-weight: 100;
    }
}

/* FOOTER */
.footer {
    width: 100%;
    height: 53vw;
    background-color: #353535;
    color: #FFFFFF;
    padding-left: 7vw;
    &__logo {
        font-size: 1.15rem;
        font-weight: 300;
        padding: 20px 0px 5px 0px;
    }
    &__list {
        width: 90%;
        margin: 0;
        list-style-type: none;
        padding-bottom: 30px;
        &--with-icon {
            font-weight: 400;
        }
        &--without-icon {
            font-weight: 300;
        }
    }
    &__list-item {
        position: relative;
        padding-top: 10px;
        font-size: 0.95rem;
        &__icon {
            font-size: 0.8rem;
            &.fa-hands-helping {
                font-size: 0.65rem;
            } 
        }
        &__text {
            position: absolute;
            left: 20px;
        }
    }
}