/* =============================================================================== */
/*                                   GENERALITES                                   */
/* =============================================================================== */

/* Mesures */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Polices */
body {
    font-family: 'Roboto', sans-serif;
}

.header__logo, .footer__logo {
    font-family: 'Shrikhand', cursive;
}

/* Couleurs */
.site-operation .fas {
    color: #9356DC;
}


/* =============================================================================== */
/*                                    SPECIFIQUE                                   */
/* =============================================================================== */

/* HEADER */
.header__logo {
    text-align: center;
    padding: 10px 0px;
}


/* CORPS DE PAGE */

/* Emplacement du restaurant recherché */
.restaurant-location {
    background-color: #F2F2F2;
    border-top: 2px solid #a1a1a1;
    text-align: center;
    padding: 10px 0px;
}

.restaurant-location__icon {
    padding: 0px 10px;
}

.restaurant-location__input {
    /* width: 150px; */
    border: none;
    background-color: #F2F2F2;
    font-weight: 700;
}

.restaurant-location__input::placeholder {
    color: #000000;
    opacity: 1;
}

/* CONTENU PRINCIPAL DE LA PAGE */
.main-content {
    /* border: 1px solid red; */
    width: 90vw;
    margin: auto;
}

.main-content__heading {
    padding-top: 30px;
}

/* PRESENTATION DE L'ENTREPRISE */

/* Exploration des restaurants */
.explore-restaurants {
    text-align: center;
    margin-bottom: 40px;
}

.explore-restaurants__heading {
    padding-left: 30px;
    padding-right: 30px;
}

.explore-restaurants__byline {
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: 300;
}

.explore-restaurants__button {
    width: 57%;
    border-radius: 45px;
    padding: 10px;
    color: #FFFFFF;
    background-color: #FF79DA;
    font-weight: 700;
    font-size: 0.75rem;
}


/* Fonctionnement du site */
.site-operation {
    margin-bottom: 50px;
}

.site-operation__list {
    list-style-type: none;
}

.site-operation__list-item {
    position: relative;
    /* border: 1px solid black; */
    border-radius: 15px;
    box-shadow: 0px 2.5px 2.5px gray;
    padding: 20px;
    width: 95%;
    margin: 7% 0% 0% 5%;
    font-size: 0.9rem;
    font-weight: 500;
}

.site-operation__list-item--active {
    background-color:  #FFDBF5;
}

.site-operation__list-item__number {
    position: absolute;
    left: -3.5%;
    color: #FFFFFF;
    border: 1px solid #9356DC;
    border-radius: 15px;
    padding: 0px 5px;
    background-color: #9356DC;
}

.site-operation__list-item__icon {
    padding: 0px 15px;
    font-size: 1rem;
    font-weight: 400;
}

.site-operation__list-item__text {
    position: absolute;
    left: 70px;
}

/* RESTAURANTS SUGGERES */

.container {
    /* background-color: yellow; */
}

.restaurant-preview {
    /* border: 1px solid green; */
    margin-top: 5%;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0px 1.5px 2.5px gray;
}

.restaurant-preview__image {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 170px;
    object-fit: cover;
    object-position: 50% 100%;
}

.restaurant-preview__image--portrait{
    object-position: 50% 62%;
}

.restaurant-preview__description {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 10px 10px;
}

.restaurant-preview__heading {
    font-size: 0.95rem;
    font-weight: 500;
    padding-bottom: 3px; 
}

.restaurant-preview__byline {
    font-size: 0.9rem;
    font-weight: 300;
}

.restaurant-preview__favorite {
    font-size: 1.3rem;
}


/* FOOTER */
.footer {
    background-color: #000000;
    color: #FFFFFF;
    padding-left: 5vw;
    margin-top: 14.4vw;
}

.footer__logo {
    font-weight: 500;
    padding: 15px 0px 5px 0px;
}

.footer__list {
    width: 99%;
    list-style-type: none;
    padding-bottom: 20px;
}

.footer__list-item {
    position: relative;
    padding-top: 10px;
    font-size: 0.8rem;
}

.footer__list--with-icon {
    font-weight: 400;
}

.footer__list-item__icon {
    font-size: 0.7rem;
}

.footer__list-item__text {
    position: absolute;
    left: 20px;
}

.footer__list--without-icon {
    font-weight: 300;
}