/* =============================================================================== */
/*                                   GENERALITES                                   */
/* =============================================================================== */

/* Mesures */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Polices */
body {
    font-family: 'Roboto', sans-serif;
}

.header__logo, .footer__logo {
    font-family: 'Shrikhand', cursive;
}

/* Couleurs */
.site-operation .fas {
    color: #9356DC;
}


/* =============================================================================== */
/*                                    SPECIFIQUE                                   */
/* =============================================================================== */

/* HEADER */
.header__logo {
    text-align: center;
    padding: 10px 0px;
    font-size: 1.8rem;
    font-weight: 400;
}


/* CORPS DE PAGE */

/* Emplacement du restaurant recherché */
.restaurant-location {
    background-color: #EAEAEA;
    box-shadow: 0px 3px 3px #D5D5D5 inset;
    text-align: center;
    padding: 15px 0px;
}

.restaurant-location__icon {
    padding: 0px 15px 0px 35px;
}

.restaurant-location__input {
    /* width: 150px; */
    border: none;
    background-color: #EAEAEA;
    font-weight: 700;
    font-size: 0.95rem;
}

.restaurant-location__input::placeholder {
    color: #000000;
    opacity: 1;
}

/* CONTENU PRINCIPAL DE LA PAGE */
.main-content {
    width: 100vw;
    /* margin: auto; */
}

.main-content__heading {
    padding-top: 50px;
}

/* PRESENTATION DE L'ENTREPRISE */

/* Exploration des restaurants */
.explore-restaurants {
    background-color: #F6F6F6;
    text-align: center;
    padding-bottom: 55px;
}

.explore-restaurants__heading {
    padding-left: 60px;
    padding-right: 60px;
}

.explore-restaurants__byline {
    padding: 10px 20px 30px 20px;
    font-weight: 300;
}

.explore-restaurants__button {
    width: 215px;
    height: 50px;
    border: none;
    border-radius: 45px;
    padding: 10px;
    color: #FFFFFF;
    background-color: #DD6EDB;
    font-weight: 600;
    font-size: 0.9rem;
}


/* Fonctionnement du site */
.site-operation {
    margin-bottom: 70px;
}

.site-operation__heading {
    padding-left: 20px;
}

.site-operation__list {
    list-style-type: none;
}

.site-operation__list-item {
    position: relative;
    background-color: #F6F6F6;
    border-radius: 15px;
    box-shadow: 2.5px 5px 5px #E9E9E9;
    padding: 28px 20px;
    width: 90%;
    height: 75px;
    margin: 7% 0% 0% 5%;
    font-size: 0.9rem;
    font-weight: 500;
}

.site-operation__list-item--active {
    background-color:  #F5EDFF;
}

.site-operation__list-item__number {
    position: absolute;
    left: -2.5%;
    color: #FFFFFF;
    border: 1px solid #9356DC;
    border-radius: 15px;
    padding: 0px 5px;
    background-color: #9356DC;
    font-size: 0.9rem;
}

.site-operation__list-item__icon {
    padding: 0px 15px;
    font-size: 1rem;
    font-weight: 400;
}

.site-operation__list-item__icon.fas.fa-mobile-alt, .site-operation__list-item__icon.fas.fa-list-ul {
    color: #7E7E7E;
    font-size: 1.1rem;
}

.site-operation__list-item__text {
    position: absolute;
    left: 70px;
    font-size: 1rem;
}

/* RESTAURANTS SUGGERES */

.restaurants {
    background-color: #F2F2F2;
    padding-bottom: 17vw;
}

.restaurants__heading {
    padding-left: 20px;
}

.restaurant-preview {
    /* border: 1px solid green; */
    position: relative;
    width: 90%;
    margin: 5% 5% 0% 5%;
    border-radius: 15px;
    box-shadow: 2.5px 5px 5px #E6E6E6;
}

.restaurant-preview__image {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 175px;
    object-fit: cover;
    object-position: 50% 100%;
}

.restaurant-preview__image--portrait{
    object-position: 50% 62%;
}

.restaurant-preview__new {
    position: absolute;
    top: 15px;
    right: 10px;
    height: 30px;
    width: 21vw;
    background-color: #99E2D0;
    border-radius: 2.5px;
    color: #179576;
    text-align: center;
    padding-top: 6px;
    font-size: 0.9rem;
    font-weight: 500;
}

.restaurant-preview__description {
    /* border: 2px solid red; */
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 10px 10px;
}

.restaurant-preview__heading {
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: 3px; 
}

.restaurant-preview__byline {
    font-size: 1.05rem;
    font-weight: 300;
}

.restaurant-preview__favorite {
    font-size: 1.5rem;
    font-weight: 100;
}


/* FOOTER */
.footer {
    height: 53vw;
    background-color: #353535;
    color: #FFFFFF;
    padding-left: 7vw;
}

.footer__logo {
    font-size: 1.15rem;
    font-weight: 300;
    padding: 20px 0px 5px 0px;
}

.footer__list {
    width: 99%;
    list-style-type: none;
    padding-bottom: 30px;
}

.footer__list--with-icon {
    font-weight: 400;
}

.footer__list--without-icon {
    font-weight: 300;
}

.footer__list-item {
    position: relative;
    padding-top: 10px;
    font-size: 0.95rem;
}

.footer__list-item__icon {
    font-size: 0.8rem;
}

.footer__list-item__icon.fa-hands-helping {
    font-size: 0.65rem;
} 

.footer__list-item__text {
    position: absolute;
    left: 20px;
}
