.button_pink {
    max-width: 320px;
    border: none;
    border-radius: 45px;
    padding: 10px;
    color: #FFFFFF;
    font-weight: 600;
    @include linear-gradient($degree, $color-secondary, $color-primary);
}