.explore-restaurants {
    background-color: #F6F6F6;
    text-align: center;
    padding-bottom: 55px;
    &__heading {
        padding-left: 60px;
        padding-right: 60px;
    }
    &__byline {
        padding: 10px 20px 30px 20px;
        font-weight: 300;
    }
    &__button {
        width: 215px;
        height: 50px;
        font-size: 1.44rem;
        // Créé partiel _button.scss (contenant classe .button_pink) qui devrait ajouter :
        // border: none;
        // border-radius: 45px;
        // padding: 10px;
        // color: #FFFFFF;
        // background-color: #DD6EDB;
        // font-weight: 600;       
    }
}