.restaurant-location {
    background-color: #EAEAEA;
    box-shadow: 0px 3px 3px #D5D5D5 inset;
    padding: 15px 0px;
    /*text-align: center;*/
    &__container {
        text-align: center;
    }
    &__icon {
        padding-right: 10px;
    }
    &__input {
        width: 125px;
        border: none;
        background-color: #EAEAEA;
        font-weight: 700;
        font-size: 0.9rem;
        &::placeholder {
            color: #000000;
            opacity: 1;
        }
    }
}