.restaurant-menu {
    //border: 3px solid red;
    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    &__article {
    //border: 3px solid teal;
    margin: 10.87% 3.2% 0 3.2%;
    @include responsive (tablet) {
        width: 75%;
        margin: 10% auto;
    }
    @include responsive (tablet-large) {
        margin: 7.5% auto;
    }
    @media screen and (min-width: 1200px) {
        width: 30%;
        margin: 5% auto;
    }
    }
    &__dish-category {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.6rem;
        padding-left: 1.33%;
    }
    &__separator { 
        border: none;   
        border-top: 3px solid $color-tertiary;
        width: 40px; // 10.87%
        margin-top: 8px;
        margin-left: 1.33%;
    }
    &__item { 
        //border: 1px solid orange;       
        background-color: #FFFFFF;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: nowrap;
        overflow: hidden;
        border-radius: 10px;        
        //padding-top: 15px;
        //padding-bottom: 15px;
        margin-top: 4%;
        box-shadow: 2.5px 5px 7.5px #909090;
        animation: appear 1000ms ease-in-out backwards;
        @for $i from 1 through 4 {
            &--#{$i} {
            animation-delay: 250ms * $i;
        }
    }
        &:hover {
            & > div:first-child {
                //border: 1px solid blue;
                width: 20%; 
                max-width: 75px;
                span {
                    transform: rotate(360deg);
                }
            }
        }
        &--flex {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: nowrap;
            width: 100%;
            padding-top: 15px;
            padding-bottom: 15px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &__description {
            padding-left: 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &__title {
            // background-color: lightgreen;
            font-size: 1.6rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &__byline {
            // background-color: lightsalmon;
            font-size: 1.44rem;
            font-weight: 300;
            padding-top: 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &__price {
            // background-color: lightslategray;
            padding-right: 15px;
            padding-left: 50px;
            font-size: 1.44rem;
            font-weight: bold;
        }
        &--moving-left {
            width: 0;
            padding: 28.5px 0px;
            overflow: hidden;
            background-color: $color-tertiary;
            display: flex;
            justify-content: center;
            align-items: center;
            transform-origin: right;            
            transition: width 750ms ease-in-out;
            span {
                display: block;
                color: $color-tertiary;
                font-weight: bold;                
                transform: rotate(0deg);
                transition: transform 750ms ease-in-out;
                i {
                    display: block;
                    font-size: 2rem;
                    color: #FFF;
                    //background: #FFF;
                    //background-clip: text;
                }
            }
        }
    }
    &__order {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 48.91%;
        height: 50px;
        margin: 13.04% auto 21.74% auto;
        font-size: 1.44rem;
        @include responsive (tablet) {
            width: 320px;
            margin: 12.5% auto 15%;
        }
        @include responsive (tablet-large) {
            margin: 10% auto 12.5%;
        }
        @media screen and (min-width: 1200px) {
            margin: 5% auto 20%;
        }
        // Créé partiel _button.scss (contenant classe .button_pink) qui devrait ajouter :
        // border: none;
        // border-radius: 45px;
        // padding: 10px; // 2.66%
        // color: #FFFFFF;
        // background-color: #DD6EDB;
        // font-weight: 600;
    }
}