.site-operation {
    margin-bottom: 70px;
    &__heading {
        padding-left: 5%;
    }
    &__list {
        list-style-type: none;
    }
    &__list-item {
        position: relative;
        background-color: #F6F6F6;
        border-radius: 15px;
        @include box-shadow;
        padding: 28px 20px;
        width: 90%;
        height: 75px;
        margin: 7% auto;
        font-size: 0.9rem;
        font-weight: 500;
        &:hover {
            background-color: lighten($color-primary, 35%);
            @include box-shadow(10px); 
            color: adjust-color($color-primary, $blue:100, $alpha:1);
            cursor: pointer;
        }
        &__number {
            position: absolute;
            left: -2.5%;
            color: #FFFFFF;
            border: 1px solid $color-primary;
            border-radius: 15px;
            padding: 0px 5px;
            background-color: $color-primary;
            font-size: 0.9rem;
        }
        &__icon {
            padding: 0px 15px;
            font-size: 1rem;
            font-weight: 400;
            opacity: 0.5;
            // color: #7E7E7E;
            &.fas.fa-mobile-alt {
                font-size: 1.1rem;
            }
        }
        &__text {
            position: absolute;
            left: 70px;
            font-size: 1rem;
            color: #000000;
        }
    }
}