@mixin centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin linear-gradient ($degree, $from, $to) {
    // Couleur de secours pour les anciens navigateurs
    background-color: $to;
    // Dégradé linéaire pour les navigateurs récents
    background: linear-gradient($degree, $from, $to);
}

@mixin box-shadow ($shadow-size: $box-shadow-size, $color: $color-shadow) {
    box-shadow: $shadow-size $shadow-size $shadow-size $color;
}

@mixin color-new ($color-background-new: $color-tertiary) {
    background-color: $color-background-new;
    color: darken($color-background-new, 40%);
}

@mixin color-footer ($color: $color-footer) {
    @if (lightness($color) < 65%) {
        background-color: $color;
        color: #FFFFFF;
    }
    @else {
        background-color: $color;
        color: #000000;
    }
}

// Responsive
@mixin responsive($key) {
    @media screen and (min-width: map-get($breakpoints, $key)) {
        @content;
    }
}

/* @mixin mobile-small {
    @media screen and (min-width: map-get($breakpoints, mobile-small)) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin laptop {
    @media screen and (min-width: map-get($breakpoints, laptop)) {
        @content;
    }
} */