// Couleurs
$color-primary: #9356DC ;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0; 
$color-shadow: #E9E9E9;
$color-footer: #353535;
$color-background-new: #99E2D0;

// Mesures
$box-shadow-size: 5px;